@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');

* {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 18px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
}

.body-height {
  min-height: calc(100vh - 54px - 126px - 2rem);
}

#body-container {
  display: flex;
  min-width: 100%;
}

.button {
  min-width: 5rem;
  height: 2rem;
}

.textbox {
  height: 1.8rem;
  padding: 0;
  margin: 0;
}

/* Header Styling */

header {
  display: flex;
  background-color:darkseagreen;
  padding: 0;
}

#site-icon {
  width: 5rem;
  height: 5rem;
  position: relative;
  top: -0.2rem;
  margin: 1rem 1rem;
}

#logo-container {
  margin-top: 1rem;
}

#logo-first {
  font-size: 3.5rem;
  font-weight: 700;
  margin-right: 0.7rem;
}

#logo-second {
  font-size: 3.5rem;
  font-weight: 300;
}

#logo-motto-container {
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  width: 97%;
  padding-left: 0.2rem;
}

/* Sidebar Styling */

#sidebar {
  background-color: lightsalmon;
  max-width: 450px;
  min-width: 300px;
  padding: 1rem;
}

#list-title {
  font-size: 2.2rem;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.side-add-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1rem;
  margin-top: 1rem;
  width: 100%;
}

.side-add-text {
  height: 1.7rem;
  width: calc(100% - 5rem);
}

#side-add-button {
  min-width: 2.5rem;
  margin-right: 1rem;
}

.list-container {
  margin: 1rem;
  margin-bottom: 0;
  border-radius: 1rem;
  border: 1px solid black;
  min-height: 150px;
  padding: 2rem;
  padding-right: 1rem;
}

.project-list {
  padding: 2rem;
}

.project-list-item {
  font-size: 1.5rem;
}

.h2-title {
  font-size: 1.8rem;
  font-weight: 500;
}

/* Todo Body Styling */
#todo-body {
  width: calc(100vw - 336px);
  min-width: 336px;
  text-align: right;
}

#add-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: calc(100vw - 336px);
  min-height: 75px;
}

.add-text-container {
  width: calc(100% - 4rem);
  /* visibility: hidden; */
  align-items: center;
  justify-content:flex-end;
}

.add-text-container-extend {
  visibility: visible;
}

.add-text {
  display:table-cell;
  height: 1.7rem;
  width: 0;
  border: 1 solid black;
  visibility: hidden;
  transition:  width 0.5s ease-in-out;
  /* transition: width, 0.5s, ease-out; */
}

.add-text-extend {
  width: calc(100% - 3rem);
  visibility: visible;
  transition: width 0.5s ease-in-out;
}

#add-button {
  margin: 1rem;
  margin-right: 3.5rem;
}

#plus-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 2rem;
  background: none;
  font-size: 2.5rem;
  font-weight: 900;
  border: none;
  padding: 0;
  margin: 0;
}

.module-container {
  margin: 0;
  padding: 0;
  border: none;
  grid-template: 1fr 1fr / 3fr 3fr 1fr;
  gap: 2rem;
  display: grid;
  visibility: hidden;
  max-height: 0px;
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out; 
}

.module-container-show {
  visibility: visible;
  max-height: 500px;
  margin: 1rem;
  margin-bottom: 0;
  border-radius: 1rem;
  border: 1px solid black;
  padding: 1rem;
  opacity: 100%;
  transition: all 0.5s ease-in-out;
}

.add-field-container {
  display: block;
  width: 100%;
}

.add-field-label {
  display: block;
  text-align: left;
  width: 100%;
}

.add-field-text {
  width: 100%;
  padding: 0;
  margin: 0;
}

#complete-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#complete-label {
  width: 100%;
}

.todo-list-container {
  margin: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 1rem;
  border: 1px solid black;
  min-height: 150px;
}

.todo-list > h1{
  text-align: left;
  font-size: 3rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  margin-left: 1.5rem;
}

.todo-list {
  list-style: none;
  padding: 0;
}

.todo-item {
  text-align: left;
}

.todo-item > h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 1.5rem;
  margin-bottom:1rem;
  margin-left: 1.5rem;
}

.todo-item > h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 1.5rem;
}

.todo-item > h4 {
  font-size: 1.4rem;
  font-weight: 300;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 1.5rem;
}

.todo-item > h5 {
  font-size: 1.3rem;
  font-weight: 200;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 1.5rem;
}

/* Footer Styling */
footer {
  padding: 1rem;
  display: flex;
  justify-content: center;
  background-color:darkkhaki;
}